<h2>Cities</h2>
<p>
    Start typing a city to see the autocomplete behavior in action.
</p>

<p>
    <label for="city">City</label>
    <input type="text" id="city" />
</p>
@section scripts{
<script src="~/Scripts/jquery-ui-1.8.11.js"></script>
    <script type="text/javascript">
        $(function () {
            var autocompleteUrl = '@Url.Action("Find")';
            $("input#city").autocomplete({
                source: autocompleteUrl,
                minLength: 2,
                select: function (event, ui) {
                    alert("Selected " + ui.item.label);
                }
            });
        });
    </script>
}
