@model IEnumerable<CursoMVC4.Models.CustomerViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}
<h2>Customers List</h2>
@Html.Grid(Model).Columns(cols =>
{
    cols.Add(m => m.FullName).SetWidth(250).Sortable(true).Filterable(true);
    cols.Add(m => m.Address).Sortable(true).Filterable(true);
    cols.Add(m => m.LastOrderDate).Sortable(true).Filterable(true);
    cols.Add().RenderValueAs(c => Html.CheckBoxFor(m=> c.IsActive)).Encoded(false);
}).WithPaging(10)
