@model IEnumerable<CursoMVC4.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>Full Name</th>
        <th>Address</th>
        <th>Last Order Date</th>
        <th>Is Active?</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.FullName 
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.LastOrderDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(m => item.IsActive)
        </td>
    </tr>
}
</table>
